@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Commissioner', sans-serif;
  font-weight: 400;
  color: $black;
}

.container {
  display: flex;
}

a {
  text-decoration: none;
  color: $black;
}
