@import 'variables';

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: $white;
  border-right: 2px solid $soft-grey;
  padding: 1rem 0 1rem 1rem;
  z-index: 999;

  .logo {
    font-family: 'Style Script', cursive;
    font-size: 3.5rem;
    width: 130px;
    padding-top: 2rem;
    text-align: center;
    line-height: 1;
  }

  .user {
    text-align: center;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 15rem;

    .user-control {
      display: flex;
      flex-direction: column;

      .logout-btn {
        border: none;
        background-color: $white;
        font-size: 1.6rem;
        font-weight: 700;
        margin-top: 4rem;
      }
    }

    .nav-link {
      font-weight: 700;
      padding: 1rem 3rem 1rem 1rem;
      letter-spacing: -1px;

      &.active {
        background-color: $green;
        color: $white;
      }
    }
  }

  .social-media {
    padding: 0 1rem 2rem 0;
    text-align: center;
    .social-media-link {
      margin: 0.5rem;
    }
    .footer {
      font-size: 0.8rem;
      margin-top: 1rem;
    }
  }
}
