@import 'variables';

.welcome-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('../images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  .welcome-title {
    margin-bottom: 3rem;
    font-family: 'Style Script', cursive;
    font-size: 6rem;
    color: $white;
  }

  .welcome-btn {
    color: $white;
    background-color: $green;
    border-radius: 50px;
    padding: 1rem 2rem;
    font-weight: 700;

    .arrow {
      margin-left: 1rem;
    }
  }
}
